{% extends 'base.html.twig' %}

{% block title %}TRT Conseil | Accueil{% endblock %}

{% block body %}
<section class="container lg mx-auto">
    <h1 class="text-center text-2xl">Accueil</h1>

</section>
{% endblock %}
